@font-face {
    font-family: 'Lora bold';
    src: url('../ressources/Lora/static/Lora-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Lora';
    src: url('../ressources/Lora/static/Lora-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Oxygen';
    src: url('../ressources/Oxygen/Oxygen-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Oxygen bold';
    src: url('../ressources/Oxygen/Oxygen-Bold.ttf') format("truetype");
}

html{
    --color-grey :#f7f7f7;
    --color-orange :#dd783f;
    --color-purple :#a872b7;
    --color-lightgrey :#a49fa2;
    --color-white :#FFF;
    --color-black : #2e2e2e;
}

.header{
    font-family: 'Lora', sans-serif;
    width: 100%;
    height: 60vh;
    background: linear-gradient(135deg, rgba(30, 33, 33, 0.82) 1%, rgba(32, 32, 32, 0.14) 98%), url('../ressources/background-header.jpg')  no-repeat center/cover;    
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.navbar{
    width: 60%;
    margin: 2% 3% 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: transparent;
}

.navbar__title{
    font-size: 1.8rem;
    padding: 1%;
}

.navbar__link{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar__link a{
    padding: 10%;
}

.navbar__link a:hover{
    transform: translateY(-5%);
}

.header__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}

.header__description--title{
    font-size: 3rem;
}

.header__description--message{
    width: 100%;
    font-family: sans-serif;
    margin: 3%;
    font-weight: 100;
}

.header__description--button{
    background: var(--color-orange);
    border-radius: 3px;
    margin-top: 2%;
    padding: 3% 10%;
    font-family: sans-serif;
}

.header__description--button:hover{
    transform: translateY(-5%);
}

main{
    height: 1000px;
    background-color: var(--color-grey);
}

.container{
    font-family: 'Oxygen';
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-lightgrey);
}

.main__container__navigation{
    background: var(--color-white);
    color: var(--color-lightgrey);
    width: 100%;
    padding: 1% 20%;

    display: flex;
    justify-content: space-evenly;
}

.main__navigation--link{
    padding: 2% 6%;
   /* box-shadow: 0 0 0 0 black; */
}

.main__navigation--link:hover{
    background-color: var(--color-lightgrey);
    color: var(--color-black);
    border-radius: 5px;
    transition: 0.6s;
    opacity: 0.7;
}

.container__blog{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__important__post--title{
    width: 24%;
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.2rem;
    padding-bottom: 1.8%;
    margin: 7% 0;
    border-bottom: 1px solid lightgray;
}


.main__important__post{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}


.main__important__post--images{
    color: var(--color-white);
    width: 100%;
    display: flex;
    justify-content: center;

}

.main__important__post--photography{
    position: relative;
    background: linear-gradient(135deg, rgba(30, 33, 33, 0.82) 1%, rgba(32, 32, 32, 0.14) 98%),url('../ressources/image1.jpg') no-repeat center/cover;
    width: 40%;
    height: 40vh;
    border-radius: 5px;
    margin: 0 1%;
}

.main__important__post--adventure{
    position: relative;
    background: linear-gradient(135deg, rgba(30, 33, 33, 0.82) 1%, rgba(32, 32, 32, 0.14) 98%), url('../ressources/image2.jpg') no-repeat center/cover;
    width: 40%;
    height: 40vh;
    border-radius: 5px;
    margin: 0 1%;

}

.main__important__post--photography:hover{
    transform: translateY(-3%);
    
    background-size: 115%;  
    transition: 1s;
}


.main__important__post--adventure:hover{
    transform: translateY(-3%);
    background-size: 115%;  
    transition: 0.6s;
}

.main__important__post--photography{
 padding: 2%;
}

.main__important__post--photography--description{
    position: absolute;
    left: 4%;
    top: 4%;
    background-color: var(--color-purple);
    border-radius: 2px;
    padding: 1%;
    font-family: sans-serif;
    line-height: 1.1rem;
}

.main__important__post--photography--title{
    font-size: 1.6rem;
    padding-bottom: 2%;
    position: absolute;
    top: 55%;
}

.main__important__post--photography--text{
    font-size: 1.1rem;
    font-family: sans-serif;
    position: absolute;
    top: 65%;
}

.main__important__post--photography--footer{
    width: 90%;
    position: absolute;
    top : 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-size: 0.8rem;
}

.main__important__post--photography--autor{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main__important__post--photography img{
    width: 15%;
    border-radius: 60px;
    margin-right: 3%;
}

.main__important__post--adventure{
    padding: 2%;
   }
   
   .main__important__post--adventure--description{
       position: absolute;
       top: 4%;
       left: 4%;
       background-color: var(--color-orange);
       border-radius: 2px;
       padding: 1%;
       font-family: sans-serif;
       line-height: 1.1rem;
   }

.main__important__post--adventure--title{
    position: absolute;
    top: 55%;
    font-size: 1.6rem;
    padding-bottom: 2%;
}

.main__important__post--adventure--text{
    position: absolute;
    top: 65%;
    font-size: 1.1rem;
    font-family: sans-serif;
}

.main__important__post--adventure--footer{
    width: 90%;
    position: absolute;
    top: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-size: 0.8rem;
}

.main__important__post--adventure--autor{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2%;
}

.main__important__post--adventure img{
    width: 15%;
    border-radius: 60px;
    margin-right: 3%;
}

footer{
    background-color: #dd783f;
    height: 150px;
}
